@model IEnumerable<ControleTarefas.Classes.Tarefa>

@{
  ViewData["Title"] = "ViewTarefas";
}

<h1>Exibir tarefas</h1>

<p>
  <a asp-action="AddForm">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        Id do Aluno
      </th>
      <th>
        Atividade
      </th>
      <th>
        Matéria
      </th>
      <th>
        Prazo
      </th>
      <th>
        Data da Entrega
      </th>
      <th>
        Vencido?
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in ViewBag.Tarefas)
    {
      <tr>
        <td>
         @item.AlunoId
        </td>
        <td>
          @item.Nome
        </td>
        <td>
          @item.Materia
        </td>
        <td>
          @item.Prazo
        </td>
        <td>
          @item.DtEntrega
        </td>
        <td>
          @if (item.Prazo >= DateTime.Today)
          {
            <div class="alert alert-secondary" role="alert">
              O Prazo de entrega não Chegou!!
            </div>
          }
          @if (item.DtEntrega > item.Prazo && item.Prazo < DateTime.Today)
          {
            <div class="alert alert-danger" role="alert">
              Entrega em atraso
            </div>
          }
          @if (item.DtEntrega <= item.Prazo && item.Prazo < DateTime.Today)
          {
            <div class="alert alert-success" role="alert">
              Entrega no prazo!!
            </div>
          }
        </td>
        <td>
          <a href="/Tarefa/EditForm?TarefaId=@item.Id"><button type="button" class="btn btn-dark">Editar</button></a>
        </td>

      </tr>
    }
  </tbody>
</table>
<div class="row align-items-end">
  <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Voltar para Home!</a>
</div>


